/* @font-face { font-family: "fontawesome"; src: url("../fonts/fontawesome-webfont.woff2"); } */
@font-face {
    font-family: 'FontAwesome';
    src: url("https://cdn.in.howspace.com/assets/vendor/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0") format('woff2');
    font-weight: normal;
    font-style: normal;
}




thead, tbody, p {
    font-family: "FontAwesome";
    font-size:medium;
    font-weight: normal;
    /* padding-top: 10px; */
}

.poster-header-row {
    padding-top: 30px;
    padding-bottom: 0px;
    /* line-height: 0px; */
}
.poster-header {
    font-family: "FontAwesome";
    font-size:medium;
    color: black;
    font-weight: bold;
    line-height: 0px;
}
.poster-host {
    font-family: "FontAwesome";
    font-size:medium;
    color:rgb(29, 29, 29);
    font-weight: normal;
    font-style: normal;
}

thead {
    color: rgb(0, 0, 0);
}

tbody {
    color: rgb(0, 0, 0);
    
}

tfoot {
    color: rgb(29, 29, 29);
}


td,
th {
    border: 0px solid black;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "FontAwesome";
}
.timezone {
    font-family: "FontAwesome";
}
.poster-number {
    text-align: right;
}
