@font-face { font-family: woff2; src: url("../fonts/fontawesome-webfont.woff2"); }


.poster-header {
    padding-top: 30px;
    font-family: woff2;
}
thead, tbody {
    font-family: woff2;
}
thead {
    color: rgb(0, 0, 0);
}

tbody {
    color: rgb(0, 0, 0);
    
}

tfoot {
    color: rgb(29, 29, 29);
}


td,
th {
    border: 0px solid black;
    font-size:larger;
    padding: 5px;
}

/* th {
    padding-top: 30px;
} */